<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register Email Template - Learnopia</title>
</head>

<body>
  <div style="width: 100%; max-width: 600px; margin: 0 auto;">
    <div style="text-align: center;">
      <img src="https://static.wixstatic.com/media/618c8c_6b94cba6dcff4f6bb02dde09bba7a3b5~mv2.png" alt="Logo"
        style="max-width: 100px; height: auto; margin-bottom: 5px; margin: 0 auto;">
    </div>
    <p>Hello {{recipient}},</p>
    <p>Congratulations on successfully registering with Learnopia!</p>
    <p>At Learnopia, we're thrilled to have you join our learning community. Whether you're here to explore our vast
      array of free courses or dive into our premium content, we're committed to providing you with a seamless learning
      experience.</p>
    <p>With Learnopia, you have access to a diverse range of courses designed to empower you on your learning journey.
      From programming and design to business and personal development, there's something for everyone.</p>
    <p>Start exploring now and take your skills to the next level!</p>
    <p>Thank you for choosing Learnopia. We can't wait to see what you achieve.</p>
    <p>Happy learning!</p>

    <!-- Footer -->
    <hr style="border: none; border-top: 1px solid #ccc; margin: 20px 0; clear: both;">
    <div style="text-align: center; margin-top: 20px; font-size: 12px; color: #888;">
      <p>This email was sent to you by <strong>Learnopia</strong></p>
      <p>If you have any questions, please contact us at <strong>learnopiainfo@gmail.com</strong></p>
      <p>© 2024 Learnopia, Inc. All rights reserved.</p>
    </div>
    <!-- End of Footer -->
  </div>
</body>

</html>